{% for nginx_server in nginx_servers %}

    server {
        listen {{ nginx_server.listen }} default_server;

        root {{ nginx_server.root }};
        index index.html index.htm
        server_name localhost;

        location / {
            try_files $uri $uri/ =404;
        }
    }

{% endfor %}