server {
    listen {{ server_port }} default_server;

    root /usr/share/nginx/html;
    index index.html index.htm

    server_name {{ server_name }};

    location / {
        try_files $uri $uri/ =404;
    }
}
